# Archivos de entorno (variables reales)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias
node_modules/

# Archivos de Puppeteer (Chromium descargado localmente)
.chromium/

# Mac
.DS_Store

# Render / Build cache
render-build/
